.breadcrumbs {
    position: relative;
    z-index: 2;
    display: table;
    font-size: 150%;
    margin: 2em auto 3em;
}

.breadcrumbs a {
    padding-right: 0.5em;
}

#page-header h1 {
    text-align: center;
    font-size: 6em;
}

#shrug {
    position: fixed;
    z-index: 1;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 0
}

#footer {
    margin-top: 0;
}