@import "nav.css";
@import "cl.css";

dt {
    margin: 1.5em 1.8em 0;
    font-size: large;
}

dt + dt {
    margin-top: 0.5em;
}

dt a {
    text-decoration: none;
}

dd {
    margin-left: 2em;
    margin-right: 2em;
}

dd p:first-child {
    margin-top: 0.25em;
}


dd p {
    margin: 0.8em 1.5em;
}

dd ul, dd ol {
    margin: 0.8em 3.5em;
}

dd ul li, dd ol li {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#last-updated {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.2em 0.5em;
    font-size: smaller;
}

#content {
    margin: 3em 1.5em 1.5em 12.5em;
    position: relative;
    z-index: 2;
}

#content + #footer > div {
    margin-left: 12.5em;
    margin-right: 1.5em;
    border: medium solid transparent;
}

h1 a {
    text-decoration: none;
}

#content > section {
    margin-left: 2em;
    margin-right: 2em;
}

#content > section > h1, #content > nav > h1, #content > section > header, #content > nav > header {
    position: relative;
    padding: 0.5em;
    margin: 2em -1em 1em -1em;
    text-align: center;
    border: solid thin gray;
    background-color: #ECECEC;
}

#content > section section > h1, #content > section section > header {
    position: relative;
    padding: 0.4em;
    margin: 2em 0 1em 0;
    text-align: center;
    border: solid thin gray;
    background-color: #ECECEC;
}

ul {
    margin: 1em 2em;
}


section {
    margin: 2em auto;
}

header {
    margin: 1em auto;
}

header h1 {
    text-align: center;
    margin: 0 auto 1em;
}

#page-header {
    text-align: center;
    margin: 0 auto 1.75em;
    font-family: sanvito-pro-display, serif;
}

#page-header + section > h1, #page-header + nav > h1, #page-header + section > header, #page-header + nav > header {
    margin-top: 1.5em;
}

#page-header h1 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    font-size: 3em;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
}

#page-header h1 a {
    text-decoration: none;
}

#page-header .description, #page-header .author-line {
    padding: 0;
    margin: 0.1em 0 0;
    line-height: 1.15em;
}

#page-header .description {
    font-size: large;
    margin-top: 0;
}

#page-header .author-line {
    margin-top: 0.25em;
}


.notice {
    display: table;
    clear: both;
    position: relative;
    max-width: 40em;
    padding: 0;
    margin: 0.5em auto;
    text-align: center;
    border: solid thick transparent;
}

.notice p {
    line-height: 1.4em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
}

.notice .prose {
    text-align: justify;
}

.notice .debug {
    position: absolute;
    font-size: x-small;
    margin-top: 0.1em;
    margin-left: 0.1em;
}

.notice.good-news {
    border-color: green;
}

.warning {
    border-color: orange;
}

.note {
    border-color: lightslategray;
}


p {
    margin: 1em;
    line-height: 1.4em;
}

table {
    border-collapse: collapse;
    margin: 1em auto 2em;
    margin-left: auto;
    margin-right: auto;
    border: solid medium gray;
}

table th > a:only-child, table td > a:only-child {
    text-decoration: none;
}

table th.supercolumn {
    text-align: center;
}

table table {
    margin-top: 0;
    margin-bottom: 0;
}

table td.subdivided {
    padding: 0;
}

table p {
    margin: 0.5em;
}

table ul, table ol {
    margin: 0.5em 1em;
}

table ul:only-child, table ol:only-child {
    margin: 0.5em;
}

table .link-cell {
    padding: 0;
    width: 12em;
}

table .link-cell > div:only-child {
    position: relative;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 3em; /* height: 100%; should work but it doesn't and I'm tired. */
}

table .link-cell > div:only-child a {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-decoration: none;
    text-align: center;
}

table .link-cell a > div {
    position: absolute;
    width: inherit;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -0.6em;
}

/* disable for now because of height nonsense above.
table .link-cell a:hover, table .link-cell a:focus {
    background-color: #ECE0A5;
    outline-style: none;
}
*/


.news-item p {
    margin: 0.5em 0;
}


.float-clear {
    clear: both;
}

.panel {
    position: relative;
    border: solid medium #AAAAAA;
    background: #ECECEC;
}


#footer {
    position: relative;
    text-align: center;
    margin-top: 2em;
    padding: 1em 0;
    border-top: dashed medium #DDDDDD;
}

.page-badge {
    position: relative;
    z-index: 2;
    color: green;
    margin: 0.5em;
    text-decoration: none;
}

.page-badge a {
    color: inherit;
    text-decoration: inherit;
}


h1 {
    margin-top: 1em;
    position: relative;
}

table > thead > tr > th.horizontal-grouping-header,
table > tbody > tr > th.horizontal-grouping-header{
    text-align: center;
    font-size: xx-large;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

table > thead > tr:last-child > th {
    vertical-align: bottom;
}

table > tbody > tr > th > div:only-child {
    position: relative;
    padding: 0;
    margin: 0;
}

th {
    text-align: left;
    padding-left: 0.5em;
    background-color: #E0E0E0;
}

th p:last-child {
    margin-bottom: 0;
}

td {
    background-color: #ECECEC;
}

td, th {
    border: solid thin lightgray;
    padding: 1em 0.5em;
}

table tr > th:first-child {
    text-align: right;
}

table tr > th.library-name {
    text-align: left;
}



li + li {
    margin-top: 0.5em;
}

li li {
    margin-bottom: 0.25em;
}

.modifier-key, .emacs-command {
    border: solid thin #CCCCCC;
    background-color: #EEEEEE;
    color: #444444;
    padding: 0.3em;
}


.good-news {
    color: green;
}

.caution {
    color: orange;
}

.watch-out {
    color: red;
}

.good-news a, .watch-out a {
    color: inherit;
}

a.tweet {
    color: cadetblue;
}
