@import "navlist.css";
@import "navbox.css";


/* Reset doesn't actually belong here... */

* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style-type: none;
}


#site-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

article, section {
    position: relative;
}

.section-nav {
    position: relative;
    left: auto;
}

.section-nav .navbox {
    margin-left: auto;
    margin-right: auto;
}

.section-nav .navbox-next {
    margin-left: auto;
    margin-right: auto;
}

.section-nav .navbox-previous {
    margin-left: auto;
    margin-right: auto;
}


.section-nav:first-child {
    position: absolute;
    left: -14.5em;
    z-index: 1;
}

.section-nav:first-child .navbox {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.section-nav:first-child a:first-child.navbox-previous {
    margin-top: -1.4em;
}


.end-of-section-indicator {
    font-size: smaller;
    color: black;
    opacity: 0.25;
    border-top: thin solid gray;
    border-bottom: thin solid gray;
    margin: 1em auto;
    display: table;
}

.end-of-section-indicator a {
    color: black;
    padding: 0 1em;
    text-decoration: none;
}

.end-of-section-indicator:hover {
    opacity: 1;
}


.breadcrumbs-and-extras > nav {
    float: left;
}

nav.breadcrumbs, .breadcrumbs-and-extras > nav {
    margin: 0.5em 0.5em 1em;
    background: #FFCC99;
    border: medium solid black;
    text-decoration: none;
}

nav.breadcrumbs a, .breadcrumbs-and-extras > nav a {
    position: relative;
    text-decoration: inherit;
}

.breadcrumbs-and-extras > nav a meter, .breadcrumbs-and-extras > nav a span {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    width: 100%;
    margin-top: 0.2em;
    height: 0.5em;
}

.breadcrumbs-and-extras > nav a span {
    text-align: center;
    font-size: smaller;
    white-space: pre;
    margin-top: 0.2em;
    color: black;
}

nav.breadcrumbs > a, nav.breadcrumbs > span, .breadcrumbs-and-extras > nav > a, .breadcrumbs-and-extras > nav > span {
    float: left;
    padding: 0.175em 0.25em;
}

nav.breadcrumbs > span {
    font-weight: bolder;
}

nav.breadcrumbs > a:first-child, .breadcrumbs-and-extras > nav > a:first-child {
    padding-left: 0.5em;
}

nav.breadcrumbs > a:nth-last-child(2), .breadcrumbs-and-extras > nav > a:last-child {
    padding-right: 0.5em;
}

nav.breadcrumbs a:hover, nav.breadcrumbs a:focus, .breadcrumbs-and-extras > nav a:hover {
    background: #FFDD99;
    outline-style: none;
}

nav.breadcrumbs a.here:hover, nav.breadcrumbs a.here:focus {
    background: transparent;
}


.start-browsing + .start-browsing {
    margin-left: -0.5em;
    border-left: none;
}


/* Need the extra weight for this one, to override some global.css rules. */
h1.breadcrumbs {
    position: relative;
    padding: 0.4em;
    margin: 3em 0 1em 0;
    border: solid thin gray;
    background-color: #ECECEC;
    text-align: left;
    font-size: large;
    padding-left: 2em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

h1.breadcrumbs > a, h1.breadcrumbs a {
    opacity: 0.5;
}

h1.breadcrumbs .here {
    opacity: 1;
}

h1.breadcrumbs > .related-group > a {
    border: thin solid;
    padding: 0.2em 0.4em;
}


.back-to-top {
    display: block;
    text-align: center;
    margin: 1em 0.5em;
    width: 10em;
    background: #FFCC99;
    border: medium solid black;
    text-decoration: none;
}

.ancestors-nav .back-to-top {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#footer .back-to-top {
    position: absolute;
    top: 0;
    left: 0;
}

.back-to-top:hover, .back-to-top:focus {
    background: #FFDD99;
    outline-style: none;
}


.anchor {
    text-decoration: none;
    font-weight: bold;
    opacity: 0.20;
    font-size: large;
}

.anchor:hover {
    opacity: 1;
}

dt {
    position: relative;
}

main h1 .anchor {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.6em;
    margin-left: 0.6em;
}

main dt .anchor {
    position: absolute;
    left: 0;
    margin-top: 0.1em;
    margin-left: -1.4em;
    font-size: medium;
}

table > tbody > tr > th > div:only-child {
    padding: 0;
    margin: 0;
}

table > tbody > tr > th > div:only-child > .anchor {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.5em 0.4em;
    margin-top: -1em;
    margin-left: -0.5em;
}
