@import "navlist.css";
@import "navbox.css";


/* Reset doesn't actually belong here... */

* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style-type: none;
}


#site-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.section-nav {
    position: absolute;
    left: -12.5em;
    z-index: 1;
}

.breadcrumbs {
    margin: 0.5em 0.5em 1em;
    background: #FFCC99;
    border: medium solid black;
    text-decoration: none;
}

.breadcrumbs a {
    text-decoration: inherit;
}

.breadcrumbs > a, .breadcrumbs > span {
    float: left;
    padding: 0.175em 0.25em;
}

.breadcrumbs > span {
    font-weight: bolder;
}

.breadcrumbs > a:first-child {
    padding-left: 0.5em;
}

.breadcrumbs > a.here {
    padding-right: 0.5em;
}

.breadcrumbs a:hover, .breadcrumbs a:focus {
    background: #FFDD99;
    outline-style: none;
}

.breadcrumbs a.here:hover, .breadcrumbs a.here:focus {
    background: transparent;
}

#footer .back-to-top {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em 0.5em;
    width: 10em;
    background: #FFCC99;
    border: medium solid black;
    text-decoration: none;
}

#footer .back-to-top:hover, #footer .back-to-top:focus {
    background: #FFDD99;
    outline-style: none;
}


.anchor {
    text-decoration: none;
    font-weight: bold;
    opacity: 0.20;
    font-size: large;
}

.anchor:hover {
    opacity: 1;
}

dt {
    position: relative;
}

dt .anchor {
    position: absolute;
    left: 0;
    margin-top: 0.1em;
    margin-left: -1.4em;
    font-size: medium;
}

table > tbody > tr > th > .anchor {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25em 0 0 0.25em;
}

#content section h1 .anchor {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.6em;
    margin-left: 0.6em;
}