.ancestors-nav {
    position: relative;
    background: white;
    float: left;
}

.ancestors-nav .level-separator  {
    width: 65%;
    height: 0.2em;
    border: 3px solid black;
    margin: -0.5em auto 0.5em;
    background: #FFCC99;
}

.navbox {
    margin: 0 0.5em 1em;
    background: #FFCC99;
    border: medium solid black;
    width: 10em;
}

.navbox > ul + ul {
    border-top: thin dashed black;
}

.navbox a {
    display: block;
    position: relative;
    text-decoration: none;
}

.navbox a i {
    opacity: 0.6;
}

.navbox li {
    position: relative;
    margin: 0;
}

.navbox li a {
    position: relative;
    padding: 0.175em 0.5em;
}

.navbox li a.direct-link {
    padding: 0;
    position: absolute;
    vertical-align: middle;
    right: 0;
    top: 0;
    bottom: 0;
    text-decoration: none;
    background: transparent;
    padding-left: 0.2em;
    padding-right: 0.2em;
    opacity: 0.2;
    width: 1em;
}

.navbox li a.direct-link > * {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
    margin-top: -0.6em;
    vertical-align: middle;
}


.navbox li:first-child a {
    padding-top: 0.35em;
}

.navbox li:first-child .here-indicator-left, .navbox li:first-child .here-indicator-right {
    top: 0.35em;
}

.navbox li:last-child a {
    padding-bottom: 0.35em;
}

.navbox li:last-child a.inlining-node {
    padding-bottom: 0.175em;
}

.navbox li:last-child ul.inlined-nodes:last-child {
    margin-bottom: 0;
}

.navbox li:last-child ul.inlined-nodes li:last-child a {
    padding-bottom: 0.35em;
}

.navbox li:last-child .here-indicator-left, .navbox li:last-child .here-indicator-right {
    bottom: 0.5em;
}

.navbox a:hover, .navbox a:focus {
    background: #FFDD99;
    outline-style: none;
}

.navbox a.direct-link:hover, .navbox a.direct-link:focus {
    background: #FFDD99;
    outline-style: none;
    opacity: 1;
}

.navbox a.here:hover, .navbox a.here:focus {
    background: transparent;
}

.navbox .inlined-nodes {
    margin-left: 1.5em;
    margin-top: -0.0625em;
    margin-bottom: 0.125em;
    font-size: smaller;
}

.navbox .inlined-nodes li a {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}


.navboxes {
    display: table;
    margin: 2em auto;
}

.navboxes .navbox {
    float: left;
    width: auto;
    min-width: 12em;
}

.navboxes .group {
    position: relative;
    margin-top: 1em;
    margin-bottom: 1em;
    position: relative;
    left: -0.5em;
}

.navboxes .group > h1 {
    position: absolute;
    top: -2.3em;
    left: 0;
    right: 0;
    color: #BBBBBB;
    text-align: center;
}

.navboxes .group > h1 a {
    color: #CCCCCC;
    font-size: medium;
}

.navboxes .group > h1 a:hover, .navboxes .group > h1 a:focus {
    color: black;
}

.navboxes .group > h1 a:hover, .navboxes .group > h1 a:focus {
    opacity: 1;
}

.navboxes .group .navbox {
    margin-top: 0;
    margin-bottom: 0;
}

.navboxes .group > .body {
    padding: 1em 0.5em;
    border: thin dashed #AAAAAA;
}

.navboxes .group.anonymous > .body {
    border: thin dashed transparent;
}

.navboxes .navbox .item-count {
    margin-left: -0.05em;
}

.here-indicator-left, .here-indicator-right {
    background: gray;
    position: absolute;
    top: 0.3em;
    bottom: 0.35em;
    width: 0.25em;
}

.here-indicator-left {
    left: 0;
}

.here-indicator-right {
    right: 0;
    display: none;
}

.navbox h1 {
    position: relative;
    border-bottom: medium double black;
    font-size: medium;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbox.empty h1 {
    border-bottom: none;
}

.navbox h1 a {
    color: inherit;
}

.navbox h1 .here-indicator-left, .navbox h1 .here-indicator-right {
    top: 0.2em;
    bottom: 0.2em;
    display: block;
}


.navbox .item-count {
    position: absolute;
    left: 100%;
    top: 0;
    font-weight: bold;
    margin-left: 0.15em;
    color: transparent;
    opacity: 0.4;
    font-size: medium;
}

.navbox ul {
    margin: 0;
}

.navbox ul > li:hover > .item-count, .navbox h1:hover > .item-count {
    opacity: 0.8;
}

.navbox ul > li:hover > .item-count:hover, .navbox h1:hover > .item-count:hover {
    opacity: 0.4;
}

.navbox .item-count > span {
    position: absolute;
    top: 0;
    bottom: 0;
    color: black;
    font-size: small;
    padding: 0.175em 0;
}

.navbox > ul > li:first-child > .item-count > span {
    padding: 0.35em 0;
}

.navbox .inlined-nodes .item-count > span {
    font-size: x-small;
}

.navbox-next {
    display: block;
    text-align: center;
    margin: -1em 0.5em 1em;
    width: 10em;
    border: medium solid transparent;
    border-top: none;
    text-decoration: none;
    opacity: 0.25;
}

.navbox-next:hover {
    border-color: black;
    background: #FFCC99;
    opacity: 1;
}

.navbox-previous {
    display: block;
    text-align: center;
    margin: 1em 0.5em 0em;
    width: 10em;
    border: medium solid transparent;
    border-bottom: none;
    text-decoration: none;
    opacity: 0.25;
}

.navbox-previous:hover {
    border-color: black;
    background: #FFCC99;
    opacity: 1;
}
