.navlist {
    display: table;
    clear: both;
    margin: 1em auto;
    text-decoration: none;
    border: thin solid black;
}

.navlist.headered {
    border: none;
}

.navlist.headered .body {
    border: thin solid black;
}

.navlist * {
    text-decoration: inherit;
}

.navlist a {
    display: block;
}

.navlist section {
    margin: 0;
    padding: 0.5em 1em;
    margin-bottom: 0;
    background: #ECECEC;
    border: thin solid black;
}

.navlist h1, .navlist p {
    padding: 0;
    margin: 0;
}

.navlist p {
    line-height: 1.2em;
}

.navlist section:hover, .navlist section:focus {
    background: #ECE0A5;
    outline-style: none;
}

.navlist + .navlist {
    margin-top: 1em;
}

.navlist h1 {
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-spacing: 0.06em;
}

.navlist > h1 {
    display: table;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
    padding: 0.25em 0.5em;
}

.navlist > h1 a:hover, .navlist > h1 a:focus {
    color: inherit;
}

.navlist > h1 a {
    color: #CCCCCC;
}

.navlist p {
    margin-top: 0.2em;
    margin-bottom: 0;
    font-size: smaller;
    text-align: justify;
    color: black;
}


.navlist-group {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.navlist-group .navlist {
    display: block;
}

.navlist-group .navlist:first-child {
    margin-top: 0;
}

.navlist .warning-incomplete {
    color: red;
}
