table.breadcrumbs {
    margin: 0.5em 0.5em 1em;
    border: solid medium black;
    float: left;
}

table.breadcrumbs a {
    display: block;
    text-decoration: none;
    padding: 0.175em 0.25em;
}

table.breadcrumbs a:hover {
    background: #FFDD99;
}

table.breadcrumbs a.here:hover {
    background: transparent;
}

table.breadcrumbs tr {
    background: #FFCC99;
}

table.breadcrumbs tr:first-child td:first-child a {
    padding-left: 0.5em;
}

table.breadcrumbs td a.here {
    padding-right: 0.5em;
}

table.breadcrumbs .split {
    padding-right: 0.125em;
}

table.breadcrumbs .split a {
    padding-right: 0.375em;
}

table.breadcrumbs .merge {
    padding-left: 0.125em;
}

table.breadcrumbs .merge a {
    padding-left: 0.375em;
}

table.breadcrumbs td {
    background: transparent;
    padding: 0;
    border: none;
    line-height: 1.2em;
}

table.breadcrumbs .separator {
    padding-left: 0.25em;
    padding-right: 0.25em;
    text-align: center;
}

table.breadcrumbs .vertical-separation {
    background: white;
    border: solid medium black;
    padding: 0.48em 0.5em;
}

.spacer {
    margin-top: 0.5em;
    margin-bottom: 1em;
    border: medium solid transparent;
    padding: 0.175em;
}

.spacer + main {
    margin-top: 2em;
}


.ancestors-nav .split {
    display: table;
    margin: 0 0.5em 1em;
    width: 10.5em;
}

.ancestors-nav .split nav {
    display: table-cell;
}

.ancestors-nav .split nav + nav {
    border-left: none;
}
