#note {
    display: table;
    text-align: center;
    line-height: 1.6;
    margin: 0.8em auto;
}

.navtable {
    font-size: medium;
}

main table :is(.latest-date, .quicklisp-since) {
    text-align: end;
}

main table tr:target .library-name a {
    color: green;
}
