.quick-note {
    margin: -0.5em auto 1.5em;
}

.navtable {
    font-size: medium;
}

main table :is(.latest-date, .quicklisp-since) {
    text-align: end;
}

main table tr:target .library-name a {
    color: green;
}
