td {
    padding: 0;
}

th.name {
    text-align: center;
}

#introduction + section > h1 {
    margin-top: 0;
}

#introduction, #contact-me {
    text-align: center;
}

#contact-me p {
    margin-bottom: 0;
}

#contact-me p + p {
    margin-top: 0.25em;
}

#custom-timelines {
    line-height: 1em;
}

#custom-timelines a {
    margin-left: 1em;
    text-decoration: none;
}

#custom-timelines a:first-child {
    margin-left: 0;
}
