p {
    text-align: center;
}

td p {
    text-align: left;
}

table th.name {
    text-align: center;
}

td {
    padding: 0;
}

th.name {
    text-align: center;
}

#introduction + section > h1 {
    margin-top: 0;
}

#email p {
    margin-bottom: 0;
}

#email p + p {
    margin-top: 0.1em;
}

#custom-timelines {
    line-height: 1em;
}

#custom-timelines a {
    margin-left: 1em;
    text-decoration: none;
}

#custom-timelines a:first-child {
    margin-left: 0;
}
