td {
    padding: 0;
}

th.name {
    text-align: center;
}

#introduction + section > h1 {
    margin-top: 0;
}

#full-name, #nickname, #introduction, #contact-me {
    text-align: center;
}

#full-name, #nickname {
    margin-top: -0.5em;
}

#custom-timelines {
    line-height: 1em;
}

#custom-timelines a {
    margin-left: 1em;
    text-decoration: none;
}

#custom-timelines a:first-child {
    margin-left: 0;
}
