@import "../../css/category.css";
@import "../../css/factsheet.css";

#content > section > header > .factsheet {
    float: right;
    margin: 0;
    font-size: smaller;
    vertical-align: middle;
}

#content > section > header > .factsheet td {
    text-align: left;
}
