th.project-name, .task-summary, td {
    padding: 1em 0.5em;
}

.project-name, .task-summary {
    text-align: right;
    vertical-align: top;
}


#tasks-summary-column {
    width: 30%;
}

#tasks-awaiting-processing-column {
    width: 60%;
}

#tasks-psi-column {
    width: 10%;
}