.example, pre {
    clear: both;
}

pre.example {
    display: table;
    margin: 1em;
    padding: 1em;
    border: thin dotted black;
    background: #ECECEC;
}

code a {
    text-decoration: none;
}

code a:hover {
    text-decoration: underline;
    background: yellow;
}

code.operator, code.marker {
    white-space: nowrap;
}

code.common-lisp.library.operator, code.common-lisp.library.marker {
    color: green;
}

code.common-lisp .comment {
    color: salmon;
}

code.common-lisp .comment a {
    color: inherit;
}

samp.error {
    color: red;
}
