.example, pre {
    clear: both;
}

pre.example {
    display: table;
    margin: 1em;
    padding: 1em;
    border: thin solid lightgray;
    background: #ECECEC;
}

code a {
    text-decoration: none;
}

code a:hover {
    text-decoration: underline;
    background: yellow;
}

p code {
    white-space: nowrap;
    padding: 0.1em 0.1em;
    border: thin solid lightgray;
    background: #ECECEC;
}

code.operator, code.variable, code.constant, code.marker, code.glossary, code.lambda-list-keyword, code.type-specifier, code.package {
    background: transparent;
    padding: 0;
    border: none;
    white-space: nowrap;
}

code.common-lisp.library.operator, code.common-lisp.library.marker {
    color: green;
}

code.common-lisp .comment {
    color: salmon;
}

code.common-lisp .comment a {
    color: inherit;
}

code.common-lisp.library a {
    color: inherit;
}

samp.error {
    color: red;
}

code.string {
    color: teal;
}
