@import "nav.css";

dt {
    margin-top: 1.5em;
    font-size: large;
}

dt a {
    text-decoration: none;
}

dd p:first-child {
    margin-top: 0.25em;
}


dd p {
    margin: 0.8em 1.5em;
}

#last-updated {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.2em 0.5em;
    font-size: smaller;
}

#content {
    margin: 0 1.5em 1.5em 12.5em;
}

#content > h2, #content > nav > h2 {
    text-align: center;
    padding: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #ECECEC;
    border: solid thin gray;
}

#page-header {
    text-align: center;
    margin: 0 auto 1.75em;
    font-family: sanvito-pro-display, serif;
}

#page-header + h2, #page-header + nav h2 {
    margin-top: 1.5em;
}

#page-header #page-title {
    margin-top: 0.6em;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 3em;
    letter-spacing: 0.05em;
    word-spacing: 0.10em;
}

#page-header #page-title a {
    text-decoration: none;
}

#page-header #page-description {
    font-size: large;
    margin-top: 0em;
    /* width: 65%; */
    margin-left: auto;
    margin-right: auto;
}


p {
    margin: 1em;
    line-height: 1.4em;
}

table p {
    margin: 0.5em;
}

table .link-cell {
    padding: 0;
    position: relative;
    width: 10em;
}

table .link-cell a {
    position: absolute;
    display: table-cell;
    top: 0;
    bottom: 0;
    width: inherit;
    text-decoration: none;
    text-align: center;
}

table .link-cell a > div {
    position: absolute;
    width: inherit;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -0.6em;
}

table .link-cell a:hover, table .link-cell a:focus {
    background-color: #ECE0A5;
    outline-style: none;
}


.news-item p {
    margin: 0.5em 0;
}


.float-clear {
    clear: both;
}


.panel {
    position: relative;
    border: solid medium #AAAAAA;
    background: #ECECEC;
}


.subsection-descriptions {
    width: 58%;
    margin-left: auto;
    margin-right: auto;
    border: thin solid;
    text-decoration: none;
}

.subsection-descriptions li {
    margin-bottom: 0;
}

.subsection-descriptions * {
    text-decoration: inherit;
}

.subsection-descriptions :hover, .subsection-descriptions :focus {
    background: #ECE0A5;
    outline-style: none;
}

.subsection-descriptions + .subsection-descriptions {
    margin-top: 1em;
}

.subsection-description {
    list-style-type: none;
    border: thin solid;
}

.subsection-description a {
    display: block;
    padding: 0.5em 1em;
}

.subsection-description .title {
    font-size: large;
    font-weight: bold;
}

.subsection-description .description {
    display: block;
    margin-top: 0.2em;
    font-size: smaller;
    text-align: justify;
    color: black;
}



.anchor {
    text-decoration: none;
    font-size: large;
    opacity: 0.20;
}

.anchor:hover {
    opacity: 1;
}

h1 {
    margin-top: 1em;
}

table {
    border-collapse: collapse;
    margin-bottom: 2em;
    border: solid medium gray;
}

table > thead > tr > th.horizontal-grouping-header,
table > tbody > tr > th.horizontal-grouping-header{
    text-align: center;
    font-size: xx-large;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

table > thead > tr:last-child > th {
    vertical-align: bottom;
}

table > tbody > tr > th {
    position: relative;
}

table > tbody > tr > th > .anchor {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25em 0 0 0.25em;
}

th {
    text-align: left;
    padding-left: 0.5em;
    background-color: #E0E0E0;
}

td {
    background-color: #ECECEC;
}

td, th {
    border: solid thin lightgray;
    padding: 1em 0.5em;
}

table tr > th:first-child {
    text-align: right;
}

li {
    margin-bottom: 1em;
}

li li {
    margin-bottom: 0.25em;
}

.emacs-command {
    border: solid thin #CCCCCC;
    background-color: #EEEEEE;
    color: #444444;
    padding: 0.3em;
}
