@import "nav.css";

dt {
    margin-top: 1.5em;
    font-size: large;
}

dt a {
    text-decoration: none;
}

dd p:first-child {
    margin-top: 0.25em;
}


dd p {
    margin: 0.8em 1.5em;
}

dd ul, dd ol {
    margin: 0.8em 3.5em;
}

dd ul li, dd ol li {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

#last-updated {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.2em 0.5em;
    font-size: smaller;
}

#content {
    margin: 0 1.5em 1.5em 12.5em;
}

#content + #footer > div {
    margin-left: 12.5em;
    margin-right: 1.5em;
    border: medium solid transparent;
}

#content > h2, #content > nav > h2 {
    text-align: center;
    padding: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #ECECEC;
    border: solid thin gray;
}

#page-header {
    text-align: center;
    margin: 0 auto 1.75em;
    font-family: sanvito-pro-display, serif;
}

#page-header + h2, #page-header + nav h2 {
    margin-top: 1.5em;
}

#page-header #page-title {
    margin-top: 0.6em;
    margin-bottom: 0;
    font-weight: bolder;
    font-size: 3em;
    letter-spacing: 0.05em;
    word-spacing: 0.10em;
}

#page-header #page-title a {
    text-decoration: none;
}

#page-header #page-description {
    font-size: large;
    margin-top: 0em;
    /* width: 65%; */
    margin-left: auto;
    margin-right: auto;
}


.notice {
    display: table;
    position: relative;
    max-width: 40em;
    padding: 0;
    margin: 0.5em auto;
    text-align: center;
    border: solid thick transparent;
}

.notice p {
    line-height: 1.4em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
    padding-left: 1em;
    padding-right: 1em;
}

.notice .prose {
    text-align: justify;
}

.notice .debug {
    position: absolute;
    font-size: x-small;
    margin-top: 0.1em;
    margin-left: 0.1em;
}

.warning {
    border-color: orange;
}


p {
    margin: 1em;
    line-height: 1.4em;
}

table {
    border-collapse: collapse;
    margin: 1em auto 2em;
    margin-left: auto;
    margin-right: auto;
    border: solid medium gray;
}

table table {
    margin-top: 0;
    margin-bottom: 0;
}

table td.subdivided {
    padding: 0;
}

table p {
    margin: 0.5em;
}

table .link-cell {
    padding: 0;
    position: relative;
    width: 10em;
}

table .link-cell a {
    position: absolute;
    display: table-cell;
    top: 0;
    bottom: 0;
    width: inherit;
    text-decoration: none;
    text-align: center;
}

table .link-cell a > div {
    position: absolute;
    width: inherit;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -0.6em;
}

table .link-cell a:hover, table .link-cell a:focus {
    background-color: #ECE0A5;
    outline-style: none;
}


.news-item p {
    margin: 0.5em 0;
}


.float-clear {
    clear: both;
}

.panel {
    position: relative;
    border: solid medium #AAAAAA;
    background: #ECECEC;
}


#footer {
    position: relative;
    text-align: center;
    margin-top: 2em;
    padding: 1em 0;
    border-top: dashed medium #DDDDDD;
}

.page-badge {
    color: green;
    margin: 0.5em;
    text-decoration: none;
}

.page-badge a {
    color: inherit;
    text-decoration: inherit;
}


h1 {
    margin-top: 1em;
}

table > thead > tr > th.horizontal-grouping-header,
table > tbody > tr > th.horizontal-grouping-header{
    text-align: center;
    font-size: xx-large;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

table > thead > tr:last-child > th {
    vertical-align: bottom;
}

table > tbody > tr > th {
    position: relative;
}

th {
    text-align: left;
    padding-left: 0.5em;
    background-color: #E0E0E0;
}

th p:last-child {
    margin-bottom: 0;
}

td {
    background-color: #ECECEC;
}

td, th {
    border: solid thin lightgray;
    padding: 1em 0.5em;
}

table tr > th:first-child {
    text-align: right;
}

li {
    margin-bottom: 1em;
}

li li {
    margin-bottom: 0.25em;
}

.modifier-key, .emacs-command {
    border: solid thin #CCCCCC;
    background-color: #EEEEEE;
    color: #444444;
    padding: 0.3em;
}

.good-news {
    color: green;
}

.good-news a {
    color: inherit;
}
