.anchor {
    text-decoration: none;
    font-size: medium;
    opacity: 0.20;
}

.anchor:hover {
    opacity: 1;
}

table {
    border-collapse: collapse;
}

table > thead > tr:last-child > th {
    vertical-align: bottom;
}

table > tbody > tr > th {
    position: relative;
}

table > tbody > tr > th > .anchor {
    position: absolute;
    top: 0.25em;
    left: 0.25em;
    font-size: large;
}

th {
    text-align: left;
    padding-left: 0.5em;
}

td, th {
    border: solid thin lightgray;
    padding: 1em 0.5em;
}

table tr > th:first-child {
    text-align: right;
}

li {
    margin-top: 1em;
}

li li {
    margin-top: 0.25em;
}
