main {
    margin-top: 0;
    margin-bottom: 0;
}

#page-header h1 {
    font-size: 4em;
    letter-spacing: 0.15em;
}

#page-header .description {
    font-size: x-large;
    letter-spacing: 0.1em;
    word-spacing: -0.05em;
}

#page-header p + p {
    margin-top: 0.4em;
}

#twitter-quick-link {
    background-image: url("images/twitter-logo.png");
}

#github-quick-link {
    background-image: url("images/github-logo.png");
    background-size: 2.4em;
}

#prominent {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1em 0 0;
}

#prominent .notice {
    height: 5em;

    border-color: transparent;
    margin: 0 0 1em;
}

#prominent .notice:before {
    content: "";
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 5em;
    height: 5em;
    background-size: contain;
    margin-right: 0.5em;
    opacity: 0.75;
}

#prominent .notice p {
    width: 26.5em;
}

#prominent .notice strong {
    font-size: larger;
}

#unlicense:before {
    background-image: url("https://global.hexstreamsoft.com/images/logos/public-domain.svg");
}

#join-my-favorite-common-lisp-discord-server {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: min-content;
    width: initial;
    justify-content: center;
    white-space: nowrap;
    color: #7289DA;
    text-decoration: none;
}

#join-my-favorite-common-lisp-discord-server:before {
    background-image: url("https://global.hexstreamsoft.com/images/logos/discord.svg");
}


#join-my-favorite-common-lisp-discord-server > div {
    flex: none;
}


#best-viewed-in {
    border-top: dashed medium #DDDDDD;
    margin-bottom: -1em;
}

#best-viewed-in p {
    text-align: center;
    line-height: 1.8em;
    opacity: 0.6;
}

#best-viewed-in .multiline-parentheses {
    padding: 0 0.8em;
}
