@import "news.css";

#page-header #page-title {
    letter-spacing: 0.15em;
    font-size: 4em;
    margin-top: 0.4em;
}

#page-header #page-description {
    font-size: x-large;
    margin-top: -0.15em;
}

#page-header #page-description .author-line {
    font-size: large;
}

#news-header {
    text-align: center;
    margin-top: 2em;
}
