#page-header {
    margin-bottom: 1.5em;
}

#page-header .description {
    font-size: x-large;
    margin-top: 0.2em;
    line-height: 1.4em;
}

#hello {
    display: table;
    text-align: center;
    margin: 2rem auto;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.1em;
    font-style: italic;
    border-top: thin solid rgba(0, 0, 0, 0.2);
    border-bottom: thin solid rgba(0, 0, 0, 0.2);
}

.fit-content.contains-navlists {
    margin-top: 0;
}

.navlist section.contains-extras > .extras .new a {
    color: green;
    font-weight: bold;
    opacity: 1;
}

.navlist section.new h1 {
    color: green;
}

@media (max-width: 36em) {
    .navlist section.contains-extras {
        flex-flow: column;
    }

    .navlist section.contains-extras > .extras {
        justify-content: flex-start;
        padding-left: 0.5em;
    }
}

@media (min-width: 34em) {
    #page-header h1 {
        font-size: 4em;
        letter-spacing: 0.15em;
    }

    #page-header .description {
        letter-spacing: 0.1em;
        word-spacing: -0.05em;
    }

    #page-header p + p {
        margin-top: 0.4em;
    }
}

@media (max-width: 24em) {
    #page-header h1 {
        font-size: 13vw;
    }
}


#sponsors {
    margin-top: 0;
}

#sponsors p {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
}


.prominent {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1em 0 0;
}

.prominent .notice {
    padding-top: 0;
    padding-bottom: 0;
    border: none;
    margin: 0;
}

.prominent .notice:before {
    content: "";
    flex: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 5rem;
    min-height: 5em;
    background-size: contain;
    margin-right: 0.5rem;
    opacity: 0.75;
}

.prominent #unlicense:before {
    background-image: url("https://global.hexstream.dev/images/logos/public-domain.svg");
}

.prominent > .tabs {
    margin-top: 0;
    margin-bottom: 0;
    transform: translate(2.7em);
}

.prominent #unlicense {
    margin-bottom: 1em;
}

.prominent #psa-about-zach-beane-the-sociopath,
.prominent #psa-about-zach-beane-the-sociopath + .tabs {
    display: none;
}

.prominent #psa-about-zach-beane-the-sociopath:target,
.prominent #psa-about-zach-beane-the-sociopath:target + .tabs {
    display: flex;
}

.prominent #psa-about-zach-beane-the-sociopath:before {
    content: "⚠";
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    color: orange;
    text-align: center;
    font-size: 6em;
    height: auto;
    min-height: auto;
    position: relative;
    left: -0.8rem;
}

.prominent #psa-about-zach-beane-the-sociopath .learn-yet-even-more {
    position: relative;
    left: -1.1em
}

.prominent #psa-about-zach-beane-the-sociopath small {
    opacity: 0.5;
}

.prominent #psa-about-zach-beane-the-sociopath small:hover {
    opacity: 1;
}

.prominent #psa-about-zach-beane-the-sociopath small a {
    text-decoration: none;
    white-space: nowrap;
}

.prominent #psa-about-zach-beane-the-sociopath small a:hover {
    text-decoration: underline;
}


@media (max-width: 36em) {
    .prominent .notice > div {
        text-align: left;
    }

    .prominent #unlicense:before {
        left: 0;
    }

    .prominent #psa-about-zach-beane-the-sociopath .learn-yet-even-more {
        position: initial;
    }

}

@media (max-width: 33.8em) {
    .prominent #psa-about-zach-beane-the-sociopath:before {
        left: auto;
    }
}

@media (max-width: 23em) {
    .prominent {
        margin-top: 0;
    }

    .prominent .notice > div {
        text-align: center;
    }

    .prominent > .tabs {
        transform: initial;
    }

    .prominent .notice:before,
    .prominent #psa-about-zach-beane-the-sociopath:before {
        display: none;
    }

}


#best-viewed-in {
    border-top: dashed medium #DDDDDD;
}

#best-viewed-in p {
    text-align: center;
    margin: 0.7em 0;
    opacity: 0.6;
}

.navlist > section .quick-links {
    display: flex;
    flex-flow: row wrap;
    flex: none;
    align-items: stretch;
}

.navlist > section .quick-links > a {
    display: flex;
    align-items: center;
}

#twitter-quick-link {
    background-image: url("https://non-free.hexstream.dev/global.hexstream.dev/images/logos/twitter.svg");
}

#github-quick-link {
    background-image: url("https://non-free.hexstream.dev/global.hexstream.dev/images/logos/github.svg");
}

#keybase-quick-link {
    background-image: url("https://non-free.hexstream.dev/global.hexstream.dev/images/logos/keybase.svg");
}
