#page-header h1 {
    font-size: 4em;
    letter-spacing: 0.15em;
}

#page-header .description {
    font-size: x-large;
    letter-spacing: 0.1em;
    word-spacing: -0.05em;
}

#page-header p + p {
    margin-top: 0.4em;
}

#twitter-quick-link {
    background-image: url("images/twitter-logo.png");
}

#github-quick-link {
    background-image: url("images/github-logo.png");
    background-size: 2.4em;
}

#unlicense {
    margin-bottom: -1.5em;
    border-color: transparent;
}


#best-viewed-in {
    border-top: dashed medium #DDDDDD;
    margin-bottom: -1em;
}

#best-viewed-in p {
    text-align: center;
    line-height: 1.8em;
    opacity: 0.6;
}

#best-viewed-in .multiline-parentheses {
    padding: 0 0.8em;
}
