@import "http://global.hexstreamsoft.com/css/news.css";

body {
    overflow-x: hidden;
}

#page-header {
    margin-top: 1.65em;
    margin-bottom: 2em;
}

#page-header h1 {
    letter-spacing: 0.15em;
    font-size: 4em;
}

#page-header .description {
    font-size: x-large;
    margin-top: -0.2em;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    line-height: 1em;
}

#page-header .author-line {
    font-size: large;
    letter-spacing: 0.06em;
    word-spacing: 0.12em;
    line-height: 1em;
}

#twitter-quick-link {
    background-image: url("images/twitter-logo.png");
}

#github-quick-link {
    background-image: url("images/github-logo.png");
    background-size: 2.4em;
}

#unlicense {
    margin-bottom: -1.5em;
    border-color: transparent;
}


#best-viewed-in {
    border-top: dashed medium #DDDDDD;
    margin-bottom: -1em;
}

#best-viewed-in p {
    text-align: center;
    line-height: 1.8em;
    opacity: 0.6;
}

#best-viewed-in .multiline-parentheses {
    padding: 0 0.8em;
}