#page-header {
    margin-bottom: 1.5em;
}

#page-header .description {
    font-size: x-large;
    margin-top: 0.2em;
    line-height: 1.4em;
}

#hello {
    display: table;
    text-align: center;
    margin: 2rem auto;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.1em;
    font-style: italic;
    border-top: thin solid rgba(0, 0, 0, 0.2);
    border-bottom: thin solid rgba(0, 0, 0, 0.2);
}

.fit-content.contains-navlists {
    margin-top: 0;
}

.navlist section.contains-extras > .extras .new a {
    color: green;
    font-weight: bold;
    opacity: 1;
}

@media (max-width: 36em) {
    .navlist section.contains-extras {
        flex-flow: column;
    }

    .navlist section.contains-extras > .extras {
        justify-content: flex-start;
        padding-left: 0.5em;
    }
}

@media (min-width: 34em) {
    #page-header h1 {
        font-size: 4em;
        letter-spacing: 0.15em;
    }

    #page-header .description {
        letter-spacing: 0.1em;
        word-spacing: -0.05em;
    }

    #page-header p + p {
        margin-top: 0.4em;
    }
}

@media (max-width: 24em) {
    #page-header h1 {
        font-size: 13vw;
    }
}

#prominent {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 1em 0 0;
}

#prominent .notice {
    height: 5em;
    border-color: transparent;
    margin: 0;
}

#prominent .notice:before {
    content: "";
    flex: none;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 5em;
    min-height: 5em;
    background-size: contain;
    margin-right: 0.5em;
    opacity: 0.75;
}

#prominent .notice strong {
    font-size: larger;
}

#unlicense:before {
    background-image: url("https://global.hexstreamsoft.com/images/logos/public-domain.svg");
}


#best-viewed-in {
    border-top: dashed medium #DDDDDD;
}

#best-viewed-in p {
    text-align: center;
    margin: 0.7em 0;
    opacity: 0.6;
}

.navlist > section .quick-links {
    display: flex;
    flex-flow: row wrap;
    flex: none;
    align-items: stretch;
}

.navlist > section .quick-links > a {
    display: flex;
    align-items: center;
}

#twitter-quick-link {
    background-image: url("https://global.hexstreamsoft.com/images/logos/twitter.svg");
}

#github-quick-link {
    background-image: url("https://global.hexstreamsoft.com/images/logos/github.svg");
}

#discord-quick-link {
    background-image: url("https://global.hexstreamsoft.com/images/logos/discord.svg");
}
