/* Reset doesn't actually belong here... */

* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style-type: none;
}


#crumbs {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.2em 0.5em;
    line-height: 1.6em;
    text-decoration: none;
}

#crumbs a {
    text-decoration: inherit;
}

.nav {
    position: absolute;
    z-index: 1;
    background: white;
}

.nav .separator  {
    width: 65%;
    height: 0.2em;
    border: 3px solid black;
    margin: -0.5em auto 0.5em;
    background: #FFCC99;
}

#crumbs + .nav {
    top: 2.4em;
}

.navbox {
    margin: 0 0.5em 1em;
    background: #FFCC99;
    border: medium solid;
    width: 10em;
}

.navbox a {
    display: block;
    text-decoration: none;
}

.navbox li {
    margin: 0;
}

.navbox li a {
    padding: 0.175em 0.5em;
    position: relative;
}

.navbox li:first-child a {
    padding-top: 0.35em;
}

.navbox li:first-child .here-indicator-left, .navbox li:first-child .here-indicator-right {
    top: 0.35em;
}

.navbox li.last-child a {
    padding-bottom: 0.35em;
}

.navbox li.last-child .here-indicator-left, .navbox li.last-child .here-indicator-right {
    bottom: 0.5em;
}

.navbox a:hover, .navbox a:focus {
    background: #FFDD99;
    outline-style: none;
}

.navbox a.here:hover, .navbox a.here:focus {
    background: transparent;
}

.navbox .inlined-nodes {
    margin-left: 1.5em;
    margin-top: -0.0625em;
    margin-bottom: 0.125em;
    font-size: smaller;
}

.navbox .inlined-nodes li a {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
}


.navboxes {
    display: table;
    margin: 2em auto;
}

.navboxes .navbox {
    float: left;
    width: auto;
    min-width: 12em;
}

.here-indicator-left, .here-indicator-right {
    background: gray;
    position: absolute;
    top: 0.3em;
    bottom: 0.35em;
    width: 0.25em;
}

.here-indicator-left {
    left: 0;
}

.here-indicator-right {
    right: 0;
    display: none;
}

.navbox .box-header {
    position: relative;
    border-bottom: double medium;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.navbox.empty .box-header {
    border-bottom: none;
}

.box-header .here-indicator-left, .box-header .here-indicator-right {
    display: none;
}

.box-header a {
    color: black;
    text-decoration: none;
}

.box-header .here .here-indicator-left, .box-header .here .here-indicator-right {
    top: 0.2em;
    bottom: 0.2em;
    display: block;
}


#footer .back-to-top {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em 0.5em;
    width: 10em;
    background: #FFCC99;
    border: medium solid black;
    text-decoration: none;
}

#footer .back-to-top:hover, #footer .back-to-top:focus {
    background: #FFDD99;
    outline-style: none;
}


.anchor {
    text-decoration: none;
    font-weight: bold;
    opacity: 0.20;
    font-size: large;
}

.anchor:hover {
    opacity: 1;
}

dt .anchor {
    font-size: medium;
}

table > tbody > tr > th > .anchor {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25em 0 0 0.25em;
}


.subsection-descriptions {
    width: 58%;
    margin: 1em auto;
    border: thin solid;
    text-decoration: none;
}

.subsection-descriptions li {
    margin-bottom: 0;
}

.subsection-descriptions * {
    text-decoration: inherit;
}

.subsection-descriptions :hover, .subsection-descriptions :focus {
    background: #ECE0A5;
    outline-style: none;
}

.subsection-descriptions + .subsection-descriptions {
    margin-top: 1em;
}

.subsection-description {
    list-style-type: none;
    border: thin solid;
}

.subsection-description.panel {
    border: inherit;
}

.subsection-description a {
    display: block;
    padding: 0.5em 1em;
}

.subsection-description .title {
    font-size: large;
    font-weight: bold;
    letter-spacing: 0.1em;
    word-spacing: 0.06em;
}

.subsection-description .description {
    display: block;
    margin-top: 0.2em;
    font-size: smaller;
    text-align: justify;
    color: black;
}