/* Reset doesn't actually belong here... */

@import "subsection-description.css";
@import "navbox.css";

* {
    padding: 0;
    margin: 0;
}

ol, ul {
    list-style-type: none;
}

#crumbs {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.2em 0.5em;
    line-height: 1.6em;
    text-decoration: none;
}

#crumbs a {
    text-decoration: inherit;
}

#footer .back-to-top {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1em 0.5em;
    width: 10em;
    background: #FFCC99;
    border: medium solid black;
    text-decoration: none;
}

#footer .back-to-top:hover, #footer .back-to-top:focus {
    background: #FFDD99;
    outline-style: none;
}


.anchor {
    text-decoration: none;
    font-weight: bold;
    opacity: 0.20;
    font-size: large;
}

.anchor:hover {
    opacity: 1;
}

dt .anchor {
    font-size: medium;
}

table > tbody > tr > th > .anchor {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.25em 0 0 0.25em;
}
