#graph {
    display: grid;
    grid-template-columns: min-content 6em min-content 6em min-content 3em;
    grid-template-rows: repeat(7, 2.75em);
    justify-content: center;
    justify-content: safe center;
    align-items: center;
    justify-items: stretch;
    margin-top: 2em;
}

#graph :target a {
    color: green;
}

@media (max-width: 46.75em) {
    #graph {
        font-size: smaller;
    }
}

@media (min-width: 55.7em) {
    #graph {
        font-size: larger;
    }
}

#graph > * {
    white-space: nowrap;
}

#graph a {
    display: block;
    text-decoration: none;
    padding: 0.2em 0.4em;
    border: 0.1em solid black;
    background-color: #ECECEC;
}

#graph a:is(:hover, :focus) {
    text-decoration: revert;
}

#map-bind {
    grid-area: 1 / 1 / 6 / 1;
    align-self: center;
}

#positional-lambda {
    grid-area: 1 / 3;
}

#cartesian-product-switch {
    grid-area: 3 / 3;
}

#place-modifiers {
    grid-area: 4 / 5;
}

#anaphoric-variants {
    grid-area: 2 / 3;
}

#multiple-value-variants {
    grid-area: 1 / 5;
}

#parse-number-range {
    grid-area: 3 / 5;
}

#symbol-namespaces {
    grid-area: 4 / 3;
}

#incognito-keywords {
    grid-area: 5 / 3;
}

#enhanced-eval-when {
    grid-area: 5 / 1;
}

#enhanced-multiple-value-bind {
    grid-row: 2;
    grid-column: span 2 / -2;
    justify-self: end;
}

#standalones {
    grid-column: 1 / -1;
    grid-row: 7;
    display: flex;
    flex-flow: row wrap;
}

#standalones article {
    margin-right: 1em;
}

#graph svg .dep {
    stroke: black;
    stroke-width: 0.1em;
    vector-effect: non-scaling-stroke;
    stroke-linecap: square;
    fill: none;
}

#graph svg .dep.also-direct {
    opacity: 0.4;
}

#graph svg .opacity-fix {
    opacity: 0.4;
}

#graph svg .opacity-fix .dep.also-direct {
    opacity: revert;
}


#graph svg .arrowhead {
    fill: black;
}

#graph #graph_arrows1 {
    grid-column: 2;
    grid-row: 1 / span 5;
    align-self: stretch;
}

#graph #graph_arrows2 {
    grid-column: 4;
    grid-row: 1 / span 5;
    align-self: stretch;
}

#graph #graph_arrows3 {
    grid-column: 3;
    grid-row: 1 / span 5;
    align-self: stretch;
}

#graph #graph_arrows4 {
    grid-column: 6;
    grid-row: 1 / span 5;
    align-self: stretch;
}
