#all-standard-symbols-table th, #all-standard-symbols-table td {
    text-align: left;
    padding: 0.5em;
}

#all-standard-symbols-table td {
    padding-top: 0;
    padding-bottom: 0;
}

#all-standard-symbols-table tbody th {
    vertical-align: top;
    white-space: nowrap;
}

#all-standard-symbols-table th * {
    text-decoration: none;
}

#all-standard-symbols-table th ul {
    font-weight: normal;
    font-size: smaller;
    margin-top: 0.25em;
    margin-bottom: 0;
}

#all-standard-symbols-table th ul li {
    margin-top: 0.25em;
}

#all-standard-symbols-table .horizontal-grouping-header {
    border-left-style: hidden;
    padding: 0;
}

#all-standard-symbols-table .horizontal-grouping-header a {
    display: block;
    padding: 0.25em;
    text-align: left;
}

#all-standard-symbols-table table {
    margin-top: 1em;
    margin-bottom: 1em;
}


.topic {
    border-top: dashed thin #9D9D9D; /*dashed thin #9D9D9D;*/
    margin-left: -0.5em;
    margin-right: -0.5em;
}

.topic:first-child {
    border-top: none;
}
