#content > section > h1, #content > section > section > h1, #content > section > section > section > h1 {
    text-align: left;
    font-size: large;
    padding-left: 2em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    margin-left: 0;
}

#content > section > h1 *, #content > section > section > h1 *, #content > section > section > section > h1 * {
    opacity: 0.6;
}

#content > section > h1 .here, #content > section > section > h1 .here, #content > section > section > section > h1 .here {
    opacity: 1;
}

#clos-init-table th, #clos-init-table td {
    text-align: center;
}
