#libraries-index .tabs {
    flex-flow: column;
    align-items: center;
}

#libraries-index .tabs:first-child {
    margin-bottom: -1.5em;
}

#libraries-index .tabs.contains-title > h1 {
    margin-left: 0;
    margin-right: 0;
}

#libraries-index .tabs ul > li.contains-children {
    align-items: center;
}

#libraries-index .tabs ul > li.contains-children > ul {
    flex-flow: column;
    font-size: initial;
}

#libraries-index .tabs ul > li.contains-children > ul > li {
    text-align: left;
}



#libraries-index .tabs > ul > li > a {
    font-size: larger;
    font-weight: bold;
    align-self: stretch;
}

#misc-index {
    margin-top: 2em;
}

@media (max-width: 25em) {
    #page-header h1 {
        font-size: 13vw;
    }
}
