#libraries-index {
    justify-content: center;
}

#libraries-index .tabs {
    flex-flow: column;
    align-items: center;
}

#libraries-index .tabs:first-child {
    margin-bottom: -1.5em;
}

#libraries-index .tabs.contains-title > h1 {
    margin-left: 0;
}

#libraries-index .tabs ul > li.contains-children {
    align-items: center;
}

#libraries-index .tabs ul > li.contains-children > ul {
    flex-flow: column;
    font-size: initial;
}

#libraries-index .tabs ul .contains-direct-link > a:not(.direct-link) {
    text-align: left;
}

#libraries-index .tabs > ul > li > a {
    font-size: larger;
    font-weight: bold;
    align-self: stretch;
}

#misc-index {
    margin-top: 2em;
}


.library .summary {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
}

.library .summary > .description {
    flex: 1 1 auto;
    max-width: 50em;
}

.library .summary > .factsheet {
    flex: none;
    width: 20em;
    margin-left: 1em;
    margin-right: 1em;
}

.factsheet td {
    text-align: left;
}

p code {
    white-space: normal;
}


@media (max-width: 55em) {
    .library .summary {
        flex-flow: column;
    }
}
