.library .summary {
    display: flex;
    flex-flow: column;
}

.library .summary > .main {
    display: flex;
    flex-flow: column;
    flex: 1 0;
}

.library .summary > .main > * {
    flex: 1 0;
    margin: 1em 0;
}

.library .summary > .main > .examples {
    border: thin solid lightgray;
}

.library .summary > .extra {
    flex: none;
}

.library .summary > .extra > .factsheet {
    width: 20em;
}

.factsheet td {
    text-align: left;
}

p code {
    white-space: normal;
}


/* 11em site-nav + 3em left/right <main> margin + 25em .description + 25em .examples */
@media (min-width: 64em) {

    .library .summary > .main {
        flex-flow: row;
    }

    .library .summary > .main > .examples {
        margin-left: 1.5em;
    }

}

/* 11em site-nav + 3em left/right <main> margin + 25em .description + 25em .examples + 20em .extra */
@media (min-width: 84em) {

    .library .summary {
        flex-flow: row;
    }

    .library .summary > .extra {
        margin-left: 1.5em;
    }

}
