@import "https://global.hexstreamsoft.com/css/factsheet.css";
@import "https://global.hexstreamsoft.com/css/cl.css";

#top-nav + main {
    margin-top: 1.5em;
}

#project-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 1em 0 0 0;
}

#project-info #factsheet-wrapper {
    flex: none;
    margin-left: 1em;
    margin-right: 0;
}

#project-info #external-links-and-further-info {
    flex: 1 0 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    min-width: max-content;
    margin-left: 0.5em;
}

#project-info #external-links-and-further-info .tabs {
    flex-flow: column;
    align-items: center;
}

#project-info #introduction {
    flex: 1 1 0;
    order: -1;
    margin-top: 0;
    margin-bottom: 0;
    min-width: 20em;
}

@media (max-width: 50em) {
    #project-info #factsheet-wrapper {
        margin-left: 1em;
    }

    #project-info #introduction {
        order: initial;
    }

    #project-info #external-links-and-further-info {
        flex: none;
    }
}

@media (max-width: 34em) {
    #project-info #factsheet-wrapper {
        flex: 0 1 auto;
        margin-left: 0;
        margin-right: 0;
    }

    #project-info #external-links-and-further-info {
        min-width: initial;
        flex: 0 1 auto;
    }
}


#documentation {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#documentation > :first-child {
    margin-top: 0;
}
