@import "https://global.hexstreamsoft.com/css/factsheet.css";
@import "https://global.hexstreamsoft.com/css/cl.css";
@import "https://global.hexstreamsoft.com/css/tags.css";

#top-nav + main {
    margin-top: 1.5em;
}

main .tags {
    font-size: 1.05em;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

main .tags .tag.hv {
    white-space: normal;
}

main .tags .tag.hv .h,
main .tags .tag.hv .v {
    white-space: nowrap;
}

main .tags .tag a {
    text-decoration: none;
}

main .tags .tag a[href]:hover, main .tags .tag a[href]:focus {
    text-decoration: underline;
}


#external-links-and-further-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 0.5em;
}

#external-links-and-further-info .tabs {
    flex: 0 1 auto;
    flex-flow: column;
    align-items: center;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#external-links-and-further-info .tabs.contains-title > h1 {
    margin-left: 0;
    margin-right: 0;
}

#external-links-and-further-info #further-info {
    margin-top: 0.6em;
}

#introduction {
    display: table;
    padding: 0 1em;
    border-left: thin solid rgba(0, 0, 0, 0.4);
    border-right: thin solid rgba(0, 0, 0, 0.4);
    margin: 2em auto;
    max-width: 40em;
}



@media (max-width: 40em) {

    #introduction {
        display: block;
    }

    p code {
        white-space: normal;
    }
}

@supports (transform: translate(-50%)) {
    @media (min-width: 72em) {
        #top-nav > .main > nav.sequential-nav {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
}
