@import "https://global.hexstreamsoft.com/css/factsheet.css";
@import "https://global.hexstreamsoft.com/css/cl.css";
@import "https://global.hexstreamsoft.com/css/tags.css";

main .tags.contains-groups {
    flex-flow: column;
    align-items: center;
}

main .tags.contains-groups > .group {
    display: flex;
    flex-flow: row wrap;
    justify-content: inherit;
}

main .tags.contains-groups > .group.prominent {
    font-size: larger;
    margin-bottom: 0.5em;
}

main .tags.contains-groups > .group.prominent .tag {
    position: relative;
    padding: 0.4em 0.6em;
    padding-left: 1.8em;
    margin-top: 0.7em;
    background-repeat: no-repeat;
    background-position: 0.25em center;
    background-size: auto 70%;
    opacity: 1;
}

main .tags.contains-groups > .group.prominent:hover .tag .h {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: small;
}

main .tags.contains-groups > .group.prominent:hover .tag .h > span {
    display: none;
}



main .tags .tag.license {
    background-image: url("https://global.hexstreamsoft.com/images/logos/public-domain.svg");
}

main .tags .tag.quicklisp {
    background-image: url("https://non-free.hexstream.xyz/global.hexstreamsoft.com/images/logos/quicklisp.svg");
}

main .tags .tag.github {
    background-image: url("https://non-free.hexstream.xyz/global.hexstreamsoft.com/images/logos/github.svg");
}


main .tags .tag.license .h,
main .tags .tag.quicklisp .h {
    display: none;
}


#top-nav + main {
    margin-top: 1.5em;
}

main .tags {
    font-size: 1.05em;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

main .tags .tag.hv {
    white-space: normal;
}

main .tags .tag a {
    text-decoration: none;
}

main .tags .tag a[href]:hover, main .tags .tag a[href]:focus {
    text-decoration: underline;
}


#further-info {
    margin-top: 0.8em;
}


#introduction {
    display: table;
    padding: 0 1em;
    border-left: thin solid rgba(0, 0, 0, 0.4);
    border-right: thin solid rgba(0, 0, 0, 0.4);
    margin: 2em auto;
    max-width: 40em;
}



@media (max-width: 40em) {

    #introduction {
        display: block;
    }

    p code {
        white-space: normal;
    }
}

@supports (transform: translate(-50%)) {
    @media (min-width: 72em) {
        #top-nav > .main > nav.sequential-nav {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
}
