@import "../css/factsheet.css";

#project-info {
    position: relative;
    margin: 2em 0;
}

#project-info .factsheet {
    position: relative;
    z-index: 2;
}

#external-projects_navbox {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}


#dependencies-table {
    font-size: smaller;
    float: right;
    margin: 0 0.5em 1em 1em;
}

#dependencies-table ul {
    margin: 0;
}

#dependencies-table th, #dependencies-table td {
    padding-top: 0.4em;
    padding-bottom: 0.4em;
}


#dependencies-table li {
    margin: 0;
    padding: 0.175em 0em;
}
