#project-categories th {
    text-align: center;
}

#project-categories td {
    vertical-align: top;
}

#introduction {
    clear: left;
}

th.project-name, .metaproject-summary, td {
    padding: 1em 0.5em;

}

.project-name, .metaproject-summary {
    text-align: right;
    vertical-align: top;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}
