#introduction {
    clear: left;
}

nav > ul > li {
    float: left;
    margin-bottom: 2em;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding-left: 0.5em;
}

td, th {
    border: solid thin lightgray;
}

th.project-name, .metaproject-summary, td {
    padding: 1em 0.5em;
    
}

.project-name, .metaproject-summary {
    text-align: right;
    vertical-align: top;
}

#project-name-column-header, #metaproject-summary-column-header {
    text-align: right;
    padding: 0 0.5em;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}
