th.project-name, .task-summary, td {
    padding: 1em 0.5em;
}

.project-name, .task-summary {
    text-align: right;
    vertical-align: top;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
}

.projects-table col {
    width: 33%;
}

.blocked {
    color: red;
    font-style: italic;
}
