table {
    border-collapse: collapse;
}

th {
    text-align: left;
    padding-left: 0.5em;
}

td, th {
    border: solid thin lightgray;
}

th.project-name, td {
    padding: 1em 0.5em;
    
}

.project-name {
    text-align: right;
    vertical-align: top;
}

#project-name-column-header {
    text-align: right;
    padding-right: 0.5em;
}