@media (max-width: 25em) {
    #page-header h1 {
        font-size: 13vw;
    }
}


.contains-self-link > h1 a.self-link {
    color: inherit;
}

.contains-self-link:where(:not(:target)) > h1 a.self-link {
    text-decoration: none;
}


#libraries {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#libraries h1 {
    margin-top: 0.25rem;
    text-align: center;
}

#libraries .group {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#libraries .group > h1 {
    margin: 0.25em;
    font-size: medium;
}

#libraries .group > .body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 1.4em;
    border-top: medium solid transparent;
}

#libraries .group.contains-self-link > .body {
    border-top: medium solid black;
}

/* Prevent libraries in nameless group from being misinterpreted as being part of macros group. */
@media (max-width: 32.375em) {
    #libraries .group:not(.contains-self-link) > .body {
        border-top: medium solid black;
    }
}


#libraries .top-bottom {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

@media (max-width: 27.75em) {
    #libraries .top-bottom {
        flex-flow: row wrap;
        justify-content: center;
    }
}

#libraries .tabs {
    margin-top: 0;
}

#libraries .tabs ul {
    flex-flow: column;
}

@media (max-width: 52.75em) {
    #libraries #macros {
        margin-bottom: -1.5em;
    }
}


#libraries .tabs ul > li.contains-children {
    align-items: center;
}

#libraries .libraries .tabs ul > li {
    text-align: left;
}

#libraries .libraries h1 a {
    font-size: larger;
    font-weight: bold;
    align-self: stretch;
}


#tabs {
    margin-top: 2em;
}

#tabs #highlights {
    font-weight: bold;
}

#tabs #releases {
    position: relative;
}

#tabs #releases h1 {
    position: absolute;
    bottom: 100%;
    margin-left: 0;
    margin-right: 0;
}


#sorry-undocumented {
    text-align: center;
}
