main {
    margin-bottom: 0;
}

@media (max-width: 25em) {
    #page-header h1 {
        font-size: 13vw;
    }
}


.groups {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.groups h1 {
    margin-top: 0.25rem;
    text-align: center;
}

.groups .group {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.groups .group > h1 {
    margin: 0.25em;
    font-size: medium;
}

.groups .group > .body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border-radius: 1.4em;
    border-top: medium solid transparent;
}

.groups .group:has(> h1 > a.self-link) > .body {
    border-top: medium solid black;
}

/* Prevent libraries in nameless groups from being misinterpreted as being part of macros group. */
@media (max-width: 51.5em) {
    .groups .groups:not(:first-child) .group:not(:has(> h1 > a.self-link)) > .body {
        border-top: medium solid black;
    }
}


.groups .tabs {
    margin-top: 0;
}

.groups .tabs ul {
    flex-flow: column;
}

@media (max-width: 52.75em) {
    .groups #macros {
        margin-bottom: -1.5em;
    }
}

.groups #uncategorized .tabs ul li {
    min-width: 6.9em;
}


.groups .tabs ul > li:has(ul) {
    align-items: center;
}

.groups .libraries .tabs ul > li {
    text-align: initial;
}


#tabs {
    margin-top: 1.5em;
}

#tabs #highlights {
    font-weight: bold;
}


#legend {
    margin-top: 1em;
}

#sorry-undocumented {
    text-align: center;
    margin-bottom: 1.5em;
}
