@media (max-width: 25em) {
    #page-header h1 {
        font-size: 13vw;
    }
}


#libraries .tabs {
    flex-flow: column;
    align-items: center;
}

@media (max-width: 55em) {
    #libraries .tabs:first-child {
        margin-bottom: -1.5em;
    }
}

#libraries .tabs.contains-title > h1 {
    margin-left: 0;
    margin-right: 0;
}

#libraries .tabs ul > li.contains-children {
    align-items: center;
}

#libraries .tabs ul > li.contains-children > ul {
    flex-flow: column;
    font-size: initial;
}

#libraries .tabs ul > li.contains-children > ul > li {
    text-align: left;
}


#libraries .tabs > ul > li > a {
    font-size: larger;
    font-weight: bold;
    align-self: stretch;
}


#tabs {
    margin-top: 2em;
}

#releases {
    position: relative;
}

#releases h1 {
    position: absolute;
    bottom: 100%;
    margin-left: 0;
    margin-right: 0;
}


#legend, #sorry-undocumented {
    text-align: center;
}

.modern {
    color: green;
}

.update-pending {
    color: orangered;
}

.deprecated {
    color: crimson;
}

.modern a,
.update-pending a,
.deprecated a {
    color: inherit;
}
