main .tags.contains-groups > .group.prominent {
    font-size: larger;
    margin-bottom: 0.5em;
}

main .tags.contains-groups > .group.prominent .tag {
    position: relative;
    padding: 0.4em 0.6em;
    padding-left: 1.8em;
    margin-top: 0.7em;
    background-repeat: no-repeat;
    background-position: 0.25em center;
    background-size: auto 70%;
    opacity: revert;
}

main .tags.contains-groups > .group.prominent .tag:hover .h {
    display: block;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: small;
}

main .tags.contains-groups > .group.prominent .tag:hover .h > span {
    display: none;
}



main .tags .tag.license {
    background-image: url("https://global.hexstream.dev/images/logos/public-domain.svg");
}

main .tags .tag.quicklisp {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/quicklisp.svg");
}

main .tags .tag.github {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/github.svg");
}


main .tags .tag:is(.license, .quicklisp) .h {
    display: none;
}


#top-nav + main {
    margin-top: 1.5em;
}

main .tags {
    font-size: 1.05em;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
}

main .tags .tag {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

main .tags .tag.hv {
    white-space: normal;
}

main .tags .tag a:where(:not([href]:is(:hover, :focus))) {
    text-decoration: none;
}


#further-info {
    margin-top: 0.8em;
}


#introduction {
    display: table;
    padding: 0 1em;
    border-left: thin solid rgba(0, 0, 0, 0.4);
    border-right: thin solid rgba(0, 0, 0, 0.4);
    margin: 2em auto;
}

#introduction.autowrap {
    max-width: 40em;
}



@media (max-width: 40em) {

    #introduction {
        display: block;
    }

    p code {
        white-space: normal;
    }
}

@supports (transform: translate(-50%)) {
    @media (min-width: 79.5em) {
        html:not(.browsing-locally) #top-nav > .main > nav.sequential-nav {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
    @media (min-width: 95.9em) {
        .browsing-locally #top-nav > .main > nav.sequential-nav {
            position: absolute;
            left: 50%;
            transform: translate(-50%);
        }
    }
}
