.modern {
    color: green;
}

.update-pending {
    color: orangered;
}

.deprecated {
    color: crimson;
}

:is(.modern, .update-pending, .deprecated) a {
    color: inherit;
}


#legend {
    text-align: center;
}

.scroll + #legend {
    margin-top: 0;
    margin-bottom: -0.5em;
}
