#page-header {
    margin-bottom: 1.5em;
}

#page-header .description {
    font-size: x-large;
    margin-top: 0.2em;
    line-height: 1.4;
}

#page-header a {
    text-decoration: none;
}

#hello {
    display: table;
    text-align: center;
    margin: 2rem auto;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 1.1em;
    font-style: italic;
    border-top: thin solid rgba(0, 0, 0, 0.2);
    border-bottom: thin solid rgba(0, 0, 0, 0.2);
}

.fit-content.contains-navlists {
    margin-top: 0;
}

.navlist section.contains-extras > .extras .new a {
    color: green;
    font-weight: bold;
    opacity: 1;
    text-align: right;
}

.navlist section.new h1 {
    color: green;
}

@media (max-width: 36em) {
    .navlist section.contains-extras {
        flex-flow: column;
    }

    .navlist section.contains-extras > .extras {
        justify-content: flex-start;
        padding-left: 0.5em;
    }

    .navlist section.contains-extras > .extras .new a br {
        display: none;
    }
}

@media (min-width: 34em) {
    #page-header h1 {
        font-size: 4em;
        letter-spacing: 0.15em;
    }

    #page-header .description {
        letter-spacing: 0.1em;
        word-spacing: -0.05em;
    }

    #page-header p + p {
        margin-top: 0.4em;
    }
}

@media (max-width: 24em) {
    #page-header h1 {
        font-size: 13vw;
    }
}

@media (min-width: 85em) {
    #top-nav {
        z-index: 1;
    }

    #page-header {
        margin-top: -2em;
    }
}


#sponsors {
    margin-top: 0;
}

#sponsors p {
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0;
}


#news article ul {
    margin-right: 0;
}


#best-viewed-in {
    border-top: dashed medium #DDDDDD;
}

#best-viewed-in p {
    text-align: center;
    margin: 0.7em 0;
    opacity: 0.6;
}

.navlist > section .quick-links {
    display: flex;
    flex-flow: row wrap;
    flex: none;
    align-items: stretch;
}

.navlist > section .quick-links > a {
    display: flex;
    align-items: center;
}

#twitter-quick-link {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/twitter-locked.svg");
}

#github-quick-link {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/github.svg");
}

#keybase-quick-link {
    background-image: url("https://global.hexstream.dev/non-free/images/logos/keybase.svg");
}


#news .news-item.moved {
    display: none;
}

#news .news-item.moved:target {
    display: block;
}
