#summary-table .recursivity {
    padding-left: 0.4em;
    padding-right: 0.4em;
}

#summary-table th {
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    white-space: nowrap;
}

#summary-table thead th {
    text-align: center;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

#define-method-combination-arguments-summary-table-header {
    font-size: smaller;
}

#summary-table td {
    vertical-align: top;
    text-align: center;
    font-size: larger;
    padding: 0.5em 0;
}

#content table td ul {
    margin-top: 0;
    margin-bottom: 0;
}

#content table td ul li + li {
    margin-top: 0.2em;
}

#summary-table td ul {
    font-size: small;
}

#tree-comparisons-table td {
    vertical-align: top;
}
