p {
    text-align: center;
}


section > .breadcrumbs-bar {
    margin-bottom: 0;
}

section .scroll.contains-table {
    margin-left: 0;
}

section .scroll.contains-table > table {
    margin-left: auto;
    margin-right: auto;
}

section table td p {
    text-align: initial;
}

section table td > a:only-child:hover {
    text-decoration: revert;
}

section table :is(th, td).name {
    text-align: center;
}

section table td.comments {
    padding: 0;
}


#introduction {
    margin-bottom: 0.5em;;
}

#introduction + .tab-groups + .tab-groups {
    margin-bottom: 1em;
}

#introduction ~ .tab-groups .tabs {
    flex-flow: column;
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#introduction ~ .tab-groups .tabs > h1 {
    font-size: large;
    border: none;
    margin: 0;
    margin-bottom: -0.25em;
}

#introduction ~ .tab-groups .tabs > ul {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#introduction ~ .tab-groups div {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
}


#actively-used {
    margin-top: 0;
}

#actively-used > .breadcrumbs-bar {
    margin-top: 0;
}

#actively-used #email span {
    font-style: italic;
}
