p {
    text-align: center;
}


section > .breadcrumbs-bar {
    margin-bottom: 0;
}

section .scroll.contains-table {
    margin-left: 0;
}

section .scroll.contains-table > table {
    margin-left: auto;
    margin-right: auto;
}

section table td p {
    text-align: initial;
}

section table td > a:only-child:hover {
    text-decoration: revert;
}

section table :is(th, td).name {
    text-align: center;
}

section table td.comments {
    padding: 0;
}


#introduction + .tabs {
    margin-top: 1em;
    margin-bottom: 0.5em;
}


#actively-used {
    margin-top: 0;
}

#actively-used > .breadcrumbs-bar {
    margin-top: 0;
}

#actively-used #email span {
    font-style: italic;
}
